header
{
  height: 235px;  
  width: 750px;
  background-color: #2d7053;

}


.elips1{
    float: left;
width: 141px;
height: 141px;
background-color: #ffffff;
border-radius: 70px;
display: inline-block;
margin-top: 47px;
margin-bottom: 47px;
margin-left: 38px;
margin-right: 58px;
}
.cabin{
    float: left;
    width: 134px;
    height: 131px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: inline-block;
    margin-top: 52px;
    margin-bottom: 52px;
}
.menu{
    float: right;
    display: inline-block;
    margin-top: 76px;
    margin-bottom: 75px;
    margin-right: 35px;
}
.lut{
    display: inline-block;
    height: 12px;
    width: 84px;
    background-color: #ffffff;
    float: right;
    border-radius: 5px;
    margin: 8px;
}
.body1
{
   display: inline-block;
    height: 466px;
    width: 750px;
    background-image: url(./img/img_cab.png);
    background-repeat: round;
}
.body12
{
    display: inline-block;
    background-image: url(./img/slou.png);
    margin-bottom: 22px;
    margin-left: 9px;
    width: 741px;
    height: 444px;
}
.login{
    display: inline-block;
    background-color: #cb9223;
    width: 341px;
    height: 74px;
    margin-top: 346px;
    margin-left: 196px;
}
.wisit{
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 45px;
    height: 17px;
    width: 251px;
    font-size: 20px;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

.body2{
    display: inline-block;
    height: 1025px;
    width: 750px;
    background-color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}
.psi{
    display: inline-block;
    width: 247px;
    height: 247px;
    margin-left: 44px;
    margin-top: 73px;
    }
 .psi img{
     border-radius: 123px;
 }   
 .login2{
    display: inline-block;
    background-color: #cb9223;
    width: 341px;
    height: 74px;
    margin-top: 59px;
    margin-left: 218px;
}
li{
    list-style-type: "- ";
}
div{
    display: inline-block;
}
.name2{
    width: 210px;
    height: 27px;
    font-size: 32px;
    float: right;
    margin-top: 134px;
    margin-right: 174px;
}
.profit{
    width: 245px;
    height: 50px;
    float: left;
    font-size: 22px;
    margin-top: 29px;
    margin-right: 141px;
}
.special{
    font-size: 22px;
    float: left;
    margin-left: 44px;
    margin-top: 60px;
    width: 590px;
    height: 166px;
}
.visit{
    width: 545px;
    height: 32px;
    font-size: 32px;
    float: left;
    margin-top: 46px;
    margin-left: 44px;
}
.visit_li{
    width: 256px;
    height: 190px;
    font-size: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
footer{
    width: 750px;
    height: 153px;
    background-color: #888888;
}
.elips2{
    float: left;
    width: 96px;
    height: 96px;
    background-color: #ffffff;
    border-radius: 48px;
    display: inline-block;
    margin-top: 29px;
    margin-left: 45px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.adress{
    float: left;
    width: 199px;
    height: 17px;
    margin-left: 184px;
    margin-top: 102px;
}
.tel{
    float: right;
    width: 136px;
    height: 15px;
    margin-right: 44px;
    margin-top: 56px;
}
.mail{
    float: right;
    width: 144px;
    height: 17px;
    margin-right: 44px;
    margin-top: 27px;
}